In [3]:
import pandas as pd
import numpy as np

# Importing data from sqlworkbench

In [4]:
from sqlalchemy import create_engine
# MySQL connection credentials
username = "root"
password = "root123"
host = "localhost"
port = 3306
database = "hr(attrition)"  # your database name

# Correct SQLAlchemy engine (no backticks in URL)
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")
# retriving data 
df = pd.read_sql("SELECT * FROM employeeattrition_main", con=engine)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EnvironmentSatisfaction,Gender,JobLevel,JobRole,JobSatisfaction,...,OverTime,PercentSalaryHike,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Female,2,Sales Executive,4,...,Yes,11,1,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,3,Male,2,Research Scientist,2,...,No,23,4,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,4,Male,1,Laboratory Technician,3,...,Yes,15,2,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Female,1,Research Scientist,3,...,Yes,11,3,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Male,1,Laboratory Technician,2,...,No,12,4,6,3,3,2,2,2,2

In [6]:
# Understanding the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   EnvironmentSatisfaction   1470 non-null   int64
 6   Gender                    1470 non-null   object
 7   JobLevel                  1470 non-null   int64
 8   JobRole                   1470 non-null   object
 9   JobSatisfaction           1470 non-null   int64
 10  MonthlyIncome             1470 non-null   int64
 11  NumCompaniesWorked        1470 non-null   int64
 12  OverTime                  1470 non-null   object
 13  PercentSalaryHike         1470 non-null   int64
 14  RelationshipSatisfaction  1470 non-null   int64
 15  TotalWorkingYears         1470 non-null   int64
 16  TrainingTimesLastYear     1470 non-null   int64
 17  WorkLifeBalance           1470 non-null   int64
 18  YearsAtCompany            1470 non-null   int64
 19  YearsInCurrentRole        1470 non-null   int64
 20  YearsSinceLastPromotion   1470 non-null   int64
 21  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(16), object(6)
memory usage: 252.8+ KB

In [7]:
df.describe()

,Age,DistanceFromHome,EnvironmentSatisfaction,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,9.192517,2.721769,2.063946,2.728571,6502.931293,2.693197,15.209524,2.712245,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,8.106864,1.093082,1.106940,1.102846,4707.956783,2.498009,3.659938,1.081209,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,0.000000,11.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.000000,2.000000,2911.000000,1.000000,12.000000,2.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,2.000000,3.000000,4919.000000,2.000000,14.000000,3.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,3.000000,4.000000,8379.000000,4.000000,18.000000,4.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,29.000000,4.000000,5.000000,4.000000,19999.000000,9.000000,25.000000,4.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [8]:
df.describe(include='object')

,Attrition,BusinessTravel,Department,Gender,JobRole,OverTime
count,1470,1470,1470,1470,1470,1470
unique,2,3,3,2,9,2
top,No,Travel_Rarely,Research & Development,Male,Sales Executive,No
freq,1233,1043,961,882,326,1054

# Handiling missing values

In [10]:
df.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EnvironmentSatisfaction,Gender,JobLevel,JobRole,JobSatisfaction,...,OverTime,PercentSalaryHike,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
EnvironmentSatisfaction     0
Gender                      0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MonthlyIncome               0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
RelationshipSatisfaction    0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [12]:
df.dropna(inplace=True)

# Handiling duplicates

In [13]:
df.duplicated

<bound method DataFrame.duplicated of       Age Attrition     BusinessTravel              Department  \
0      41       Yes      Travel_Rarely                   Sales
1      49        No  Travel_Frequently  Research & Development
2      37       Yes      Travel_Rarely  Research & Development
3      33        No  Travel_Frequently  Research & Development
4      27        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
1465   36        No  Travel_Frequently  Research & Development
1466   39        No      Travel_Rarely  Research & Development
1467   27        No      Travel_Rarely  Research & Development
1468   49        No  Travel_Frequently                   Sales
1469   34        No      Travel_Rarely  Research & Development

      DistanceFromHome  EnvironmentSatisfaction  Gender  JobLevel  \
0                    1                        2  Female         2
1                    8                        3    Male         2
2                    2                        4    Male         1
3                    3                        4  Female         1
4                    2                        1    Male         1
...                ...                      ...     ...       ...
1465                23                        3    Male         2
1466                 6                        4    Male         3
1467                 4                        2    Male         2
1468                 2                        4    Male         2
1469                 8                        2    Male         2

                        JobRole  JobSatisfaction  ...  OverTime  \
0               Sales Executive                4  ...       Yes
1            Research Scientist                2  ...        No
2         Laboratory Technician                3  ...       Yes
3            Research Scientist                3  ...       Yes
4         Laboratory Technician                2  ...        No
...                         ...              ...  ...       ...
1465      Laboratory Technician                4  ...        No
1466  Healthcare Representative                1  ...        No
1467     Manufacturing Director                2  ...       Yes
1468            Sales Executive                2  ...        No
1469      Laboratory Technician                3  ...        No

      PercentSalaryHike RelationshipSatisfaction  TotalWorkingYears  \
0                    11                        1                  8
1                    23                        4                 10
2                    15                        2                  7
3                    11                        3                  8
4                    12                        4                  6
...                 ...                      ...                ...
1465                 17                        3                 17
1466                 15                        1                  9
1467                 20                        2                  6
1468                 14                        4                 17
1469                 12                        1                  6

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                         0                1               6
1                         3                3              10
2                         3                3               0
3                         3                3               8
4                         3                3               2
...                     ...              ...             ...
1465                      3                3               5
1466                      5                3               7
1467                      0                3               6
1468                      3                2               9
1469                      3                4               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                      4                        0                     5
1                      7                        1                     7
2                      0                        0                     0
3                      7                        3                     0
4                      2                        2                     2
...                  ...                      ...                   ...
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2

[1470 rows x 22 columns]>

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df[df.duplicated()]

Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, Department, DistanceFromHome, EnvironmentSatisfaction, Gender, JobLevel, JobRole, JobSatisfaction, MonthlyIncome, NumCompaniesWorked, OverTime, PercentSalaryHike, RelationshipSatisfaction, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 22 columns]

In [16]:
#Removing duplicates
df.drop_duplicates(inplace=True)